body {
    font-family:Arial;
}

label {
    font-size:16px;
}

select {
    border-bottom:3px solid #009688;
    width:102.5%;
    padding:5px 0px 5px 10px;
    font-size:15px;
}

input {
    font-size:15px;
}
input:focus {
    border:1px solid #009688!important;
}

input[type="text"] {
    border-radius: 2px;
    border: 1px #B1B1B1 solid;
    margin-bottom:10px;
    font-size:15px;
    padding:5px 0px 5px 10px;
    width:100%;
}

input[type="tel"] {
    border-radius: 2px;
    border: 1px #B1B1B1 solid;
    margin-bottom:10px;
    font-size:15px;
    padding:5px 0px 5px 10px;
    width:100%;
}

input[type="date"] {
    border-radius: 2px;
    border: 1px #B1B1B1 solid;
    margin-bottom:10px;
    font-size:15px;
    padding:3px 0px 3px 10px;
    width:100%;
}

.submit {
    border-radius:2px;
    cursor:pointer;
    border: 0;
    background-color:#009688;
    color:#FFF;
    margin:15px 10px 10px 0px;
    font-size:16px;
    padding:10px 10px 10px 10px;
    width:30%;
}

.formularioTopo {
    width:100%!important;
}

.formularioTopoMeio {
    width:45%;
}

.optionClinica .optionMedico {
    padding:10px;
    margin:10px 0px 10px 0px;
}

.borda {
    width:100%;
    margin-top:20px;
    padding:7px;
    border-top:3px solid #009688;
}

.oculto {
    display: none;
}

.tabela  {
    border-collapse:collapse;border-spacing:0;border-color:#ccc;
}
.tabela td{
    font-family:Arial, sans-serif;font-size:14px;padding:5px 20px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#fff;border-top-width:1px;border-bottom-width:1px;
}
.tabela th{
    font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:5px 20px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#f0f0f0;border-top-width:1px;border-bottom-width:1px;
}
.tabela .tabela-pdr{
    vertical-align:top
}

@media only screen and(max-width:480px){
    input[type="text"]{
        width:100%!important;
    }
}